/* add styles here */

body {
  font-family: sans-serif;
  font-size: 1.0em;
}

.hint {
  color: gray;
}

#controls {
  width:1000px;
}

#controls form {
  display: inline-block;
}

#screen {
  width:1000px;
  height:650px;
  border: 1px solid black;
}