/* add styles here */

body {
  font-family: sans-serif;
  font-size: 1.0em;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.hint {
  color: gray;
}

#screen .notice {
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
  font-weight: bold;
  color: #666;
}

#controls {
  position: absolute;
  top: -20px;
  left: 0px;
  background-color: #333;
  width:1000px;
  color: #CCC;
  font-size: 12px;
  padding-top: 6px;
}

#screen {
  width: 1014px;
  height: 760px;
}

#controls form {
  display: inline-block;
}

#controls a, #controls form input[type=submit] {
  text-decoration: none;
  background-color: #666;
  border: 1px solid #999;
  -webkit-border-radius: 6px;
  color: #CCC;
  display: inline;
  margin: 1px;
  padding: 1px;
}