/* add styles here */

body {
  font-family: sans-serif;
  font-size: 1.0em;
  background-color: white;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.hint {
  color: gray;
}

#screen .notice {
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
  font-weight: bold;
  color: #666;
}

#toolbar {
  position: absolute;
  top: -30px;
  left: 0px;
  background-color: #333;
  width:1000px;
  color: #CCC;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 10px;
}

#screen {
  width: 1024px;
  height: 768px;
}

#presenter_overlay {
  width: 1024px;
  height: 768px;
  background: url(../images/presenter_overlay.png);
  display:none;
}

#container {
  width: 1024px;
  height: 768px;
  overflow: hidden;
}

#toolbar form {
  display: inline-block;
}

#toolbar a, #toolbar form input[type=submit] {
  text-decoration: none;
  background-color: #666;
  border: 1px solid #999;
  -webkit-border-radius: 6px;
  color: #CCC;
  display: inline;
  margin: 1px;
  padding: 1px;
}